<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="conteudo">
    <a class="btn-voltar" href="/gerenciarclientes">&larr; Voltar</a>

    <h1>Cadastrar Novo Cliente</h1>

    <div class="conteudo centralizado">
        <div class="descricaoBox">
            <!--MENSAGEM DE SUCESSO -->
            <div th:if="${mensagem}" class="alerta-sucesso">
                <p th:text="${mensagem}"></p>
            </div>

            <!-- ERRO -->
            <div th:if="${erro}" class="alerta-erro">
                <p th:text="${erro}"></p>
            </div>

            <form th:action="@{/gerenciarclientes/salvar}" method="post">

                <div class="form-group">
                    <label>Nome completo:</label>
                    <input type="text" name="nomeCliente" placeholder="Digite o nome completo" required>
                </div>

                <div class="form-group">
                    <label>Telefone:</label>
                    <input type="text" name="telefone" placeholder="Digite o telefone" required>
                </div>    

                <div class="form-group">
                    <label>Email:</label>
                    <input type="email" name="emailCliente" placeholder="digite o e-mail" required>
                </div>

               <div class="acao-centralizada">
                    <button type="submit">Cadastrar</button>

                    <a href="/gerenciarclientes">
                        <button type="button" class="btn-secundario">Cancelar</button>
                    </a>
                </div>

            </form>
        </div>    
    </div>        

</div>

</body>
</html>