<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="conteudo">

    <h1>Cadastrar Novo Cliente</h1>

    <div class="conteudo centralizado">
        <div class="descricaoBox">
            <!--MENSAGEM DE SUCESSO -->
            <div th:if="${mensagem}">
                <p th:text="${mensagem}" style="color: green;"></p>
            </div>

            <!-- ERRO -->
            <div th:if="${erro}" style="color: red;">
                <p th:text="${erro}"></p>
            </div>

            <form th:action="@{/gerenciarclientes/salvar}" method="post">

                <div class="form-group">
                    <label>Nome completo:</label>
                    <input type="text" name="nomeCliente" placeholder="Digite o nome completo" required>
                </div>
            

           

                <div class="form-group">
                    <label>Telefone:</label>
                    <input type="text" name="telefone" placeholder="Digite o telefone" required>
            </div>    

               

                <div class="form-group">
                    <label>Email:</label>
                    <input type="email" name="emailCliente" placeholder="digite o e-mail" required>
                </div>
               

                <button type="submit">Cadastrar</button>

                <a href="/gerenciarclientes">
                    <button type="button">Cancelar</button>
                </a>

            </form>
        </div>    
    </div>        

</div>

</body>
</html>