<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="conteudo">

    <h1>Status de Serviço</h1>

    <div class="conteudo centralizado buscaBox">
        <div class="descricaoBox">
            <form action="/statusdeservico/buscar" method="get">
                <div class="form-group"> 
                    <label>Digite o E-mail do cliente:</label>  
                    <input type="email" name="emailCliente" placeholder="Digite o e-mail do cliente" required>
                    <button type="submit">Buscar</button>
                </div>
            </form>

            <div class="boxtable" th:if="${servicos != null and !#lists.isEmpty(servicos)}">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cliente</th>
                            <th>Tipo</th>
                            <th>Status</th>
                            <th>Orçamento</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="s : ${servicos}">
                            <td th:text="${s.idServico}"></td>
                            <td th:text="${s.cliente.nomeCliente}"></td>
                            <td th:text="${s.tipoServico}"></td>
                            <td th:text="${s.status}"></td>
                            <td th:text="${s.orcamentoFinal}"></td>
                            <td>
                                <a th:href="@{'/statusdeservico/detalhes/' + ${s.idServico}}">
                                    Ver detalhes
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>   
             <div th:if="${servicos != null and #lists.isEmpty(servicos)}">
                <p>Nenhum serviço encontrado para este cliente.</p>
            </div>   
        </div>  
    </div>    
</div>

</body>
</html>